<% debugger%>
<form id="payment-form" >
	<div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 offset-sm-4 offset-md-4 offset-lg-4">
		<label for="card-element">Card</label>
		<div id="card-element"></div>
	</div>
	<div id="card-element-errors" class="text-gray-700 text-base mt-2" role="alert">
		
	</div>
	<div>
		<button id="submit-premium" type="submit" >Subscribe</button>
	</div>
</form>