
<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Basic</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="text-left">10 users included</li>
            <li class="text-left">2 GB of storage</li>
            <li class="text-left">Email support</li>
            <li class="text-left">Help center access</li>
          </ul>
          <button type="button">
            <a href="/subscriptions/price_1HCJRxDvcWFPSGRTuG5UYYst">Get started</a>
          </button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$20 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="text-left">20 users included</li>
            <li class="text-left">10 GB of storage</li>
            <li class="text-left">Priority email support</li>
            <li class="text-left">Help center access</li>
          </ul>
          <button type="button">
            <a href="/subscriptions/price_1HD7tWDvcWFPSGRTwOQNIQlW">Get started</a>
          </button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Premium</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$30 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="text-left">30 users included</li>
            <li class="text-left">15 GB of storage</li>
            <li class="text-left">Phone and email support</li>
            <li class="text-left">Help center access</li>
          </ul>
          <button type="button">
            <a href="/subscriptions/price_1HD7tmDvcWFPSGRTbrejzJOJ">Get started</a>
          </button>
        </div>
      </div>
    </div>
  </div>